//@import "../../styles/variables.module.scss";

.appBar {
  position: static;
  font-style: normal;
  background-color: var(--primary-dark) !important;
  color: var(--background-default) !important;
  max-width: 100%;
  overflow: auto;
  .themeButton {
    font-size: 1.5rem;
    color: var(--secondary-contrast-text) !important;
    margin-left: 45px;
    .themeButtonText {
      font-size: 100%;
      color: var(--secondary-contrast-text) !important;
    }
  }
  @media (max-width: 700) {
      width: 100% !important;
  }
}

.toolbar {
  justify-content: space-between;
  height: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  background-color: var(--primary-light);
  color: var(--secondary-contrast-text);
  width: 50px;
  height: 50px;
  display: flex;
  padding: 10%;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-right: 10px;
  font-size: large;
  .logoText{
    font-size: 18pt;
  }
}

.iconsContainer {
  align-items: center;
  right: 120px;
}
