/* src/pages/NotificationPage/NotificationPage.module.scss */

.pageContainer {
  height: 80%;
  background-color: var(--secondary-light);
  padding: 8px 0px;
  border-radius: 12px;
}

.card {
  background-color: var(--secondary-dark);
  border-radius: 8px;
  padding: 1%;
  box-shadow: 2px 2px 4px #4d4d4d;
}

.header {
  display: flex;
}

.badge {
  background-color: var(--secondary-main);
  color: var(--secondary-light);
  font-size: 14pt;
  padding: 5px;
  border-radius: 8px;
  height: 40%;
  margin-bottom: 1%;
}

.emptyState {
  text-align: center;
  padding: 12px 0px;
  color: var(--secondary-light);
}