// src/styles/variables.dark.scss

$primary-main: #deb9ff;
$primary-light: #a869cc;
$primary-dark: #8f44bb;
$primary-contrast-text: #ffffff;

$secondary-main: #944dbd;
$secondary-light: #ffffff;
$secondary-dark: #620a96;
$secondary-contrast-text: #000000;

$error-main: #cf6679;
$error-light: #ff8a80;
$error-dark: #b00020;
$error-contrast-text: #ffffff;

$warning-main: #ffb74d;
$warning-light: #ffe97d;
$warning-dark: #c88719;
$warning-contrast-text: #000000;

$info-main: #2196f3;
$info-light: #6ec6ff;
$info-dark: #0069c0;
$info-contrast-text: #ffffff;

$success-main: #4caf50;
$success-light: #80e27e;
$success-dark: #087f23;
$success-contrast-text: #ffffff;

$background-default: #121212;
$background-paper: #1e1e1e;

$text-primary: #ffffff;
$text-secondary: #b3b3b3;
$text-disabled: #666666;

$action-active: #ffffff;
$action-hover: rgba(187, 134, 252, 0.08);
$action-selected: rgba(187, 134, 252, 0.16);
$action-disabled: rgb(255, 255, 255);
$action-disabled-background: rgba(255, 255, 255, 0.12);
$action-focus: rgba(187, 134, 252, 0.12);
