.addPhotoButton {
  height: 150%;
  width: 200%;
  background-color: var(--action-hover);
  border-radius: 12px;
  cursor: pointer;
}

.inputFile {
  position: absolute;
  opacity: 0;
}

.addIcon {
  color: var(--text-primary);
  text-align: center;
  font-size: larger;
}
