/* src/components/MainPhotoBox/MainPhotoBox.module.scss */

.container {
  height: 100%;
  background-color: var(--background-default);
  box-shadow: 0px 0px 10px var(--action-disabled-background);
  border-radius: 12px;
  padding: 20px;
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  font-size: 32px;
  margin-right: 10px;
}

.title {
  font-size: 20px;
  color: var(--primary-contrast-text);
}

.photosContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-items: center;
  overflow: visible;
}
