/* src/pages/UserProfilePage.module.scss */

.profileContainer {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  background-color: var(--secondary-light);
  border-radius: 16px;
  box-shadow: 0px 1px 6px #858585;
  height: 100%;
  padding: 1%;
  width: 100%;
}

.profileFields {
  border-radius: 12px;
  padding-right: 5%;
}

.photoBox {
  padding-top: 15px;
  padding-right: 5%;
  border-radius: 12px;
  height: 122%;
}

.extraInfo {
  padding-top: 12px;
  padding-right: 10px;
  display: grid;
  grid-template-rows: 40% 40% 5%;
  height: 113%;
  .interests {
    border-radius: 12px;
  }
  .aboutMe {
    border-radius: 12px;
  }
  .saveButton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}