.mainLayout {
  display: grid;
  grid-template-columns: 17% 1fr;
  grid-template-rows: 2% ;
  //overflow: hidden;
  border-radius: 2%;
}
.mainContent {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  border-radius: 2%;
}
